.education {

    .education__box {
        background-image: url('../img/education.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        min-height: 402px;
        
        .container {
            .row {
                .col-5 {
                    .serteficat__header {
                        padding: 21px 0px 15px;
                        color: #f5f5f5;
                        font-family: $font-family-lato;
                        font-size: 33px;
                        font-weight: 300;
                        text-transform: uppercase;
                        letter-spacing: 0.4px;
                    }
                }
                .col-4 {
                    padding: 0 0 0 0px;
                    .serteficat__paragraph {
                    color: #cdc3b3;
                    line-height: 1.7;
                    font-family: $font-family-lato;
                    font-weight: 300;
                    font-size: 16px;
                    letter-spacing: -0.5px;
                    }
                }
                .col-3 {
                    padding: 0;
                    .serteficat__button {
                        color: #ffffff;
                        background-color: #ba271f;
                        text-transform: uppercase;
                        padding: 18px 59px 18px 70px;
                        border: 1px solid #ffffff;
                        text-align: center;
                        font-size: 23px;
                        font-family: $font-family;
                        margin: 30px 0 0 0;
                    }
                    .serteficat__button:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1199px) {
    .education {

        .education__box {
            
            
            .container {
                .row {
                    .col-5 {
                        padding-left: 0;
                        .serteficat__header {
                            padding: 25px 0 45px;
                            font-size: 26px;
                            letter-spacing: 0.4px;
                        }
                    }
                    .col-4 {
                        padding: 0 0 0 0px;
                        .serteficat__paragraph {
                        line-height: 1.5;
                        letter-spacing: 0.5px;
                        }
                    }
                    .col-3 {
                        padding: 0;
                        .serteficat__button {
                            padding: 18px 66px 18px 64px;
                            margin: 30px 0 0 0;
                        }
                        .serteficat__button:hover {
                            
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 991px) {
    .education {
        


        .education__box {
            
            
            .container {
                .row {
                
                    .col-5 {
                        text-align: center;
                        
                        .serteficat__header {
                            padding: 20px 50px 20px 0;
                            margin: 0 0 0 0;
                        }
                    }
                    .col-4 {
                        text-align: justify;

                        .serteficat__paragraph {
                            line-height: 1;
                            letter-spacing: 0;
                            }
                        
                        }
                    
                    .col-3 {
                        max-width: 100%;
                        .serteficat__button {
                            padding: 12px 47px 12px 47px;
                        }
                        .serteficat__button:hover {
                            
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 767px) {
    .education {       
        
            .education__box {
                background-position: 100% 100%;
                

                .container {

                    .row {

                        .col-5 {
                            margin: 0 auto;
                            min-width: 360px;

                            .serteficat__header {
                                padding: 35px 0;
                                font-size: 28px;
                                
                            }
                        }
                        .col-4 {
                            margin: 0 auto;
                            min-width: 420px;

                        
                            .serteficat__paragraph {
                                font-size: 20px;

                                

                            }
                        }
                        
                        .col-3 {
                            margin: 0 auto;

                            .serteficat__button {
                                
                            }
                            .serteficat__button:hover {
                                
                            }
                        }
                    }
                }
            }
    }
}


@media screen and (max-width: 567px) {
    .education {       
        

        .education__box {
            
            .container {

                .row {

                    .col-5 {
                        min-width: 260px;

                        
                        .serteficat__header {
                            
                        }
                    }
                    .col-4 {
                        min-width: 270px;
                        font-size: 14px;
                        letter-spacing: 0;
                        line-height: 1;
                        
                        .serteficat__paragraph {
                            
                            }
                        }
                    
                    .col-3 {
                        
                        .serteficat__button {
                            
                        }
                        .serteficat__button:hover {
                            
                        }
                    }
                }
            }
        }
    }
}